@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 16px 15%;

}

.company, ul {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo {
    height: auto;
    width: 54px;
}

.name {
    font-size: 32px;
    font-weight: bold;
}

ul {
    list-style: none;
    font-size: 18px;
}

li a {
    text-decoration: none;
    color: #E5E7EB;
}