@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 16px 15%;
}

.company, ul {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo {
    height: auto;
    width: 54px;
}

.name {
    font-size: 32px;
    font-weight: bold;
    color: #F9FAF8;
}

ul {
    list-style: none;
    font-size: 18px;
}

li a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    padding: 70px 15% 100px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 24px;
}

.hero-text {
    padding: 16px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.hero-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    border-radius: 6px;
    height: 30px;
    width: 100px;
    padding: 4px;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: none;
}

.hero-img {
    height: auto;
    width: 45%;
}

.services {
    padding: 70px 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-image {
    height: auto;
    width: 96px;
}